<footer class="footer">
  <div class="footer__link">
    <a href="https://www.instagram.com/ze_r_store/">
      <img class="footer__link-instagram" src="/assets/icons/instagram.svg" alt="instagram">
    </a>
    <a href="https://t.me/Ze_Rstore">
      <img class="footer__link-telegram" src="/assets/icons/telegram.svg" alt="telegram">
    </a>
    <a href="https://www.facebook.com/profile.php?id=100092634670181&locale=uk_UA">
      <img class="footer__link-facebook" src="/assets/icons/facebook.svg" alt="facebook">
    </a>
    <a class="footer__link-about" href="">
      <img class="footer__link-about" src="/assets/icons/about.svg" alt="about">
    </a>
  </div>
  <button class="footer__up" (click)="scrollToTop()">
    <img class="footer__up-img" src="assets/icons/up.svg" alt="up">
  </button>
</footer>
