<button
  class="close"
  (click)="closeLoginMenu()"
>
    <img class="close__img" src="/assets/icons/close.svg" alt="close">
</button>
<div class="login">
  <div class="login__input">
    <p class="login__names">Email</p>
    <input class="login__input-name" type="text">
    <p class="login__names">Password</p>
    <input class="login__input-password" type="password">
  </div>
  <div class="login__buttons">
    <button class="login__buttons-login"> Log In</button>
    <button class="login__buttons-register"> Register</button>
  </div>
</div>
