.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  background-color: rgba(224, 172, 164, 0.093);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-inline: 70px;

  &__filter {
    grid-column: 1 / 2;
  }

  &__card {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
  }
}


.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  background: rgba(224, 172, 164, 0.093);
  --mat-tab-header-label-text-font: ShantellSans-Regular;
  --mdc-tab-indicator-active-indicator-color: rgb(212, 132, 152);
  --mat-tab-header-disabled-ripple-color: #000;
  --mat-tab-header-pagination-icon-color: #000;
  --mat-tab-header-inactive-label-text-color: #000;
  --mat-tab-header-active-label-text-color: rgb(212, 132, 152);
  --mat-tab-header-active-ripple-color: rgb(212, 132, 152);;
  --mat-tab-header-inactive-ripple-color: rgb(212, 132, 152);;
  --mat-tab-header-inactive-focus-label-text-color: #000;
  --mat-tab-header-inactive-hover-label-text-color: rgb(212, 132, 152);
  --mat-tab-header-active-focus-label-text-color: rgb(212, 132, 152);
  --mat-tab-header-active-hover-label-text-color: rgb(212, 132, 152);
  --mat-tab-header-active-focus-indicator-color: rgb(212, 132, 152);
  --mat-tab-header-active-hover-indicator-color: rgb(212, 132, 152);
}
